@media screen and (max-width: 768px) {
  .container {
    grid-gap: 10px;
  }

  .check__input:checked~.item {
    width: 40px;
    height: 40px;
    margin: -7px;
  }

  .font {
    font-weight: bold;
    font-size: 1.3em;
    color: #9E9E9E;
  }

  .item {
    width: 35px;
    height: 35px;
  }

  .check__label{
    grid-column-start: 1;
    grid-column-end: 9;
  }

  .check__input:checked~.item:hover {
    transform: scale(1.4);
  }

  .item:hover {
    transform: scale(1.4);
  }

  .check__input:checked ~ .font{
    font-size: 1.5em;
  }
}
