* {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #1F2221;
}

.container {
  display: grid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-template-columns: repeat(12, 50px);
  grid-template-rows: repeat(6, 50px);
  margin: auto;
  grid-gap: 10px;
}

.font {
  color: #9E9E9E;
}

.container label {
  grid-column: span 12;
  grid-column: 8 / 13;
}

.check__input:checked~.item {
  border-radius: 50%;
  border: 1px solid #F2E545;
  width: 100px;
  height: 100px;
  margin: -15px;
  background-color: inherit;
}

.check__input:checked~.item:hover {
  background-color: #F2E545;
  transition: 0s;
}

.check__input:checked~.item:not(:hover) {
  transition: 5s;
}

.item:not(:hover) {
  transition: 5s;
}

.item:hover {
  background-color: #F2E545;
}

.item {
  position: relative;
  background-color: black;
  width: 50px;
  height: 50px;
}

label {
  font-weight: bold;
  font-size: 2em;
  user-select: none;
}

.check__label {
  padding-left: 1em;
}

.check__input {
  -webkit-appearance: none;
  position: absolute;
}

.check__box {
  display: inline-block;
  position: absolute;
  width: 0.7em;
  height: 0.7em;
  border: 1px solid gray;
  transition: 0.3s;
}

.check__input:checked+.check__box {
  transition: 0.5s;
  background-color: black;
  border: 1px solid #F2E545;
  border-radius: 50%;
}
